#page1>video {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    scale: 1.2;
    object-fit: cover;
    object-position: center;
}

#page1 {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin-bottom: 150px;
}

#page1 .introText {
    /* background-color: rgba(0, 255, 255, 0.438); */
    height: 20vw;
    width: 100%;
    position: relative;
    display: flex;
    padding-top: 15%;
    align-items: bottom;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

#page1 .introText h2 {
    font-size: 5vw;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-family: f2;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}

#page1 .introText h2::before {
    content: "The VISUALS.";
    position: absolute;
    top: 2px;
    -webkit-text-stroke: 5px rgb(255, 0, 0);
    z-index: -1;
}

#page2 {
    height: auto;
    width: 100vw;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    position: relative;
    font-family: a;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.baseContainer {
    width: 100%;
    height: 100%;
    z-index: 999;
}

.gallery {

    padding: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery h1 {
    font-size: 3.25vw;
    margin: 5vw;
    border-bottom: 1px solid #888;
    padding-bottom: 2vw;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.company {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    position: relative;
    /* background-color: seagreen; */
}

.imgContainer {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer button {
    color: #fff;
    background-color: #111;
    height: 50px;
    width: 150px;
    rotate: 90deg;
    font-size: 1.15vw;
    position: absolute;
    left: 90%;
    z-index: 99;
    border: 2px solid #fff;
    border-radius: 0px;
    transition: all .3s ease-in-out;
    display: none;
}

.imgContainer button:hover {
    background-color: #fff;
    box-shadow: 7.5px -7.5px 0 #ffffff50;
    border: 2px solid #000;
    z-index: 100;
}

.imgContainer button:hover a {
    color: #000;
}

.imgContainer button a {
    text-decoration: none;
    font-weight: 400;
}


.gallery .imgContainer img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 25px;
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
    filter: grayscale(.85) brightness(.6);
}

.gallery img:hover {
    filter: grayscale(0)brightness(1.2);
}

.page7 {
    margin-top: 150px;
    height: 50vh;
    width: 150vw;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page7-hr {
    width: 35%;
    border: 1px solid red;
    position: relative;
    left: 50%;
}

.page7 h1 {
    font-size: 5vw;
    z-index: 99999999;
    position: absolute;
    left: 35%;
    transform: translate(-50%, -50%);

}

.page7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.2);
}

.last {
    margin-top: 150px;
    height: 50vh;
    width: 150vw;
    /* background-color: #333; */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page7-hr {
    width: 35%;
    border: 1px solid red;
    position: relative;
    left: 50%;
}

.last h1 {
    font-size: 5vw;
    z-index: 99999999;
    position: absolute;
    left: 35%;
    transform: translate(-50%, -50%);

}

.last img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 99999;
    filter: brightness(.2);
}